export("EMUDRA")

export("EMUDRAscore")

export("reverseGeneEnrichment")

export("getGeneralAnnotations")

export("getPathwayNames")

export("writeEnrichmentResults")

export("sigmoid")

export("enrichment")

export("enrichmentSignificance")

export("XCor")

export("XCorrelation")

export("XCos")

import(KEGG.db, GO.db, RSQLite, DBI, Biobase, EMUDRA.Data, utils, stats, grDevices, graphics, org.Hs.eg.db)

